/*左右切割區塊*/

.h2{
  position: absolute; right:0px; top:0px;
  background: yellow;
}
.frame-header {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  background-color: #3b5998;
  color: white;
  padding: 11px;
  padding-top: 25px;
  padding-bottom: 0px;
  margin: 0 auto;
}
.frame-maincontent {
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #d3d8e8);
  color: black;
  padding: 11px;
  padding-top: 30px;
  margin: 0 auto;

}
.frame-Lang {
  display: flex;
  justify-content: left;
  background-color: white;
  color: black;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.frame-Links {
  display: ;
  justify-content: left;
  background-color: white;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*項目水平對齊*/
.left {
  width: 600px;
  font-weight: bold;
  font-size: 35px;
  font-family: Segoe UI;
  text-align: left;
  padding-right: 0px;
}
.left-2 {
  width: 600px;
  font-weight: bold;
  font-size: 21px;
  font-family: Segoe UI;
  text-align: center;
  color: #0e385f;
}

/*項目垂直對齊*/
/*align-items: center;*/
.right {
  width: 600px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.right-2 {
  width: 600px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-right-col-name {
  width: 500px;
  display: flex;
  justify-content: left;
}
.main-right-col-birthday {
  width: 500px;
  display: flex;
  justify-content: left;
}

.register {
  font-size: 37px;
  color: #333;
  margin: 0px;
}
.desc {
  font-size: 20px;
  color: #1d2129;
}

/*copy official code as below*/
.btn-register {
  align-items: flex-start;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(105, 167, 78);
  background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat-x: ;
  background-repeat-y: ;
  background-size: auto;
  border-bottom-color: rgb(44, 81, 21);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 0.996094px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(59, 110, 34);
  border-left-style: solid;
  border-left-width: 0.996094px;
  border-right-color: rgb(59, 110, 34);
  border-right-style: solid;
  border-right-width: 0.996094px;
  border-top-color: rgb(59, 110, 34);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 0.996094px;
  box-shadow: rgb(164, 227, 136) 0px 1px 1px 0px inset;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 40.9766px;
  letter-spacing: 1px;
  line-height: 25.2px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  min-width: 194px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  text-transform: none;
  width: 193.984px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-border-image: none;
}

.fontawesome {
  color: #8e949d;
  padding-left: 7px;
}

.inputtext {
  border-radius: 5px;
  border-color: #bdc7d8;
  padding: 8px;
  border: 1px solid #ccd0d5;
  color: gray;
  font-size: 19px;
  width: 400px;
}

.inputtext-name {
  border-radius: 5px;
  border-color: #bdc7d8;
  padding: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccd0d5;
  color: gray;
  font-size: 19px;
  width: 192px;
}

.greyedout {
  color: #90949c;
}

.BDnSex {
  font-weight: bold;
  color: #90949c;
  font-size: 17px;
}
.header-right-col {
  padding-right: 5px;
  padding-left: 5px;
}

.header-forgotpwd {
  color: #9cb4d8;
}
.sex {
  font-family: Helvetica, Arial, sans-serif;
}

.fontcolor {
  color: #666;
}

.title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

.keyword {
  color: red;
}

.btn-login {
  color: white;
  background-color: #4267b2;
  margin: 0px;
  border: 1px solid #29487d;
}

body {
  margin: 0;
  padding: 0;
}

a,
p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #385898;
}

.birth_year .birth_month .birth_date {
  font-size: 15px;
}
